    h1 {
        font-family: sans-serif;
        font-size: 90px;
        color: rgb(42, 11, 99);
        position: relative;
        display: flex;
        justify-content: center;
        align-self: center;
    }
    
    h2 {
        font-family: sans-serif;
        font-size: 100px;
        position: relative;
        color: rgb(42, 11, 99);
        display: flex;
        justify-content: center;
        align-self: center;
    }
    
    body {
        font-family: sans-serif;
        align-items: center;
        background: #e6ded7;
        background-position: center;
        background-size: cover;
        background-blend-mode: darken;
    }
    
    .wrap {
        overflow: hidden;
        object-fit: cover;
        position: relative;
        height: 100vh;
    }
    
    .wrap-image {
        z-index: -3;
        width: 100vw;
        height: auto;
        display: block;
        opacity: 0.4;
        position: absolute;
        object-fit: cover;
    }
    
    button {
        color: rgb(90, 18, 18);
        position: sticky;
        display: flex;
        justify-content: center;
        align-self: center;
    }
    
    .demo {
        color: rgb(90, 18, 18);
        position: sticky;
        display: flex;
        justify-content: center;
        align-self: center;
    }